{% extends "./base.html" %}

{% block title %}Administrador Casino{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Dinero</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarJugador/" method="POST">
                    <div class="form-group py-2">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{jugador.id}}" class="form-control" placeholder="Código" maxlength="20" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{jugador.nombre}}" class="form-control" placeholder="Nombre" maxlength="100" readonly required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="numDinero" name="numDinero" value="{{jugador.dinero}}" class="form-control" placeholder="Capital" min="0">
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto py-2">
                        <button class="btn btn-success btn-primary" type="submit">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}